[submodule "hal/CMSIS_5"]
	path = hal/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "hal/cmsis-device-f4"]
	path = hal/cmsis-device-f4
	url = https://github.com/STMicroelectronics/cmsis-device-f4.git
[submodule "hal/stm32f4xx-hal-driver"]
	path = hal/stm32f4xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32f4xx-hal-driver.git
